<div id="photography">
  <div>Be bold. Be proud of your work. Always move forward.</div>
  <div class="photo" style="background-image: url('{{site.baseurl}}/images/photography/1.jpg');"></div>
  <div class="photo" style="background-image: url('{{site.baseurl}}/images/photography/2.jpg');"></div>
  <div class="photo" style="background-image: url('{{site.baseurl}}/images/photography/3.jpg');"></div>
  <div class="photo" style="background-image: url('{{site.baseurl}}/images/photography/4.jpg');"></div>
  <div class="photo" style="background-image: url('{{site.baseurl}}/images/photography/5.jpg');"></div>
  <div class="photo" style="background-image: url('{{site.baseurl}}/images/photography/6.jpg');"></div>
  <div class="photo" style="background-image: url('{{site.baseurl}}/images/photography/7.jpg');"></div>
</div>
