#homePAGE {
  width: 100%;
  height: 100%;
  margin: 0;
  margin-bottom: 0;
  padding-top: 0;
  overflow: hidden;

  .content {
    width: 100%;
    height: 100%;
  }
}

.wrapper {
  &.photoACTIVE {
    cursor: url(../images/icons/cursor_close_icon_black.svg), pointer;

    .content {
      opacity: 0;
    }

    #photographyB {
      display: none;
    }

    #photography {
      display: block;
    }
  }
}
