/*///////////////////////////////////////////////////////// Tablet Landscape  */
@media only screen and (max-width: 737px) {
  body {
    width: 100%;
    padding: 0;
  }

  .wrapper {
    width: 100%;
    padding: 0;
    margin-bottom: 0;
  }

  .nav {
    position: relative;
    left: 0;
    width: 100%;
    margin-bottom: 25px;
    height: 75px;
    &:before {
      top: auto;
      bottom: 0;
    }
    #logo {
      img {
        &:hover {
          &:first-child {
            opacity: 1;
          }
        }
        &:last-child {
          display: none;
        }
      }
    }
  }

  #menu {
    height: 100%;
    ul {
      width: 100%;
      left: 0;
      padding: 0 25px;
    }
  }

  .menu-title {
    @include transform(none);
    position: relative;
    left: 25px;
    bottom: auto;
    top: 25px;
    &.active {
      @include transform(none);
    }
  }

  .content {
    padding: 0 25px 55px 25px;
  }

  .page-title {
    @include transform(none);
    position: relative;
    opacity: 1;
    left: auto;
    bottom: auto;
    padding: 0 25px;
    margin-bottom: 25px;
    &.active {
      @include transform(none);
    }
  }

  .post {
    .post-title {
      margin-bottom: 5px;
    }
    .post-date {
      position: relative;
      left: auto;
      bottom: auto;
      @include transform(none);
      margin-bottom: 25px;
    }
  }

  #demoPAGE {
     #menu {
       ul {
         bottom: 50px;
       }
     }
  }

  .demoHEADER {
    padding-right: 55px;
    #demo-title {
      font-size: 14px;
      line-height: 16px;
    }
    .buttonBar {
      .button {
        padding: 3px 5px;
      }
    }
  }
}

@media only screen and (max-width: 415px) {
  .demoHEADER {
    @include flex-column;
    @include flex-top;
    @include flex-center;
    height: 75px;
    #demo-title {
      margin-right: 0;
      margin-bottom: 5px;
    }
  }
}


//
//
//
//
//
//
//
//
//
//
//
