.nav {
  @include flex-c;
  position: fixed;
  bottom: 0;
  left: calc(50% - 300px);
  width: 600px;
  height: 150px;
  z-index: 100;
  background: white;
  &:before {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
  }
  #logo {
    width: 75px;
    height: 51px;
    position: relative;
    &:hover {
      img {
        transition: 150ms;
        &:first-child {
          opacity: 0;
        }
        &:last-child {
          opacity: 1;
        }
      }
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      transition: 150ms;
      &:first-child {
        opacity: 1;
      }
      &:last-child {
        opacity: 0;
      }
    }
  }
}

.post-list {
  list-style: none;
  .post-link {
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .post-date, .category-link, .category-link a {
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
  }
  .post-title {
    margin-bottom: 5px;
  }
  .post-date, .post-title, .categories {
    float: left;
    clear: both;
  }
  .categories {
    .category-link {
      display: inline-block;
      background: $gray200;
      margin-bottom: 5px;
      margin-right: 5px;
      border-radius: 2px;
      transition: 150ms;
      &:hover {
        transition: 150ms;
        background: $gray300;
      }
      &:first-child {
        background: white;
        &:hover {
          background: white;
        }
      }
      a {
        padding: 2px 5px;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.post {
  position: relative;
  h2 {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 1px solid $gray300;
    margin: 25px 0 5px 0;
  }
  a {
    color: $blue800;
  }
  ul {
    padding-left: 35px;
  }
  .button {
    color: black;
    margin-bottom: 5px;
  }
  .post-title {
    margin-bottom: 10px;
  }
  .post-date {
    position: fixed;
    left: calc(50% - 230px);
    bottom: 178px;
    @include transform(rotateZ(-90deg));
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
  }
  .post-content {
    img {
      width: 100%;
      margin: 25px 0;
    }
  }
}

.statusB {
  padding-left: 20px;
  position: relative;
  text-transform: uppercase;
  &:hover {
    background: $gray200;
  }
  &.live, &.inactive {
    &:after {
      content: '';
      position: absolute;
      top: 9px;
      left: 8px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
    }
  }
  &.live:after {
    background: $green500;
  }
  &.inactive:after {
    background: $red500;
  }
}

.page-title, .menu-title {
  position: fixed;
  left: calc(50% - 230px);
  bottom: 148px;
  opacity: 0;
  @include transform(rotateZ(-90deg));
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
  z-index: 10;
  transition: 150ms;
  &.active {
    opacity: 1;
    @include transform(rotateZ(-90deg) translateX(30px));
  }
}

.demoHEADER {
  @include display-flex;
  @include flex-middle;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid $gray300;
  position: fixed;
  padding: 0 18px;
  background: white;
  z-index: 10;
  #demo-title {
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
    margin-right: 18px;
  }
  #menuB {
    position: absolute;
    top: calc(50% - 10px);
    right: 18px;
  }
}

.highlighter-rouge {
  &:last-child {
    pre {
      margin-bottom: 0;
    }
  }
}


//
//
//
//
//
//
//
//
//
//
//
//
//
