---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="buttonBar">
      <a class="button imgRight" href ="{{ page.demoUrl }}">
        Demo
        <img src="{{ site.baseurl }}/images/icons/chevron_right_black.svg" />
      </a>
      <a class="button imgLeft" href="https://github.com/timelytree/{{ page.github }}" target="_blank">
        <img src="{{ site.baseurl }}/images/icons/github_icon_black.svg" />
        github
      </a>
    </div>
    <div class="post-date">{{ page.date | date: "%b %-d, %Y" }}</div>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
